@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #9b9b9b;
  border-radius: 4px;
}

.text-effect{
  -webkit-text-stroke: 0.5px #fff;
}